<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <style>
        body {
            background-color: orange;
        }
    </style>
</head>

<body>
<h1>{% block header %}Header{% endblock %}</h1><hr style="margin: 0px;">
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul style="list-style-type: none;padding-left: 0;margin: 0;animation: fadeout-collapse 5s ease-out forwards;">{# Flashed messages #}
    {% for message in messages %}
    <li class="flash-message">{{ message }}</li><br>
    {% endfor %}
</ul>
<style>
.flash-message {
  background: orangered;
  width:fit-content;
  border: 5px solid yellow ;
  border-radius: 45px;
  padding: 20px;
  font-weight: bold;
  overflow: hidden;
  animation: fadeout-collapse 5s ease-out forwards;
}
@keyframes fadeout-collapse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
</style>
{% endif %}
{% endwith %}

{% block body %}
{% endblock %}
</body>
</html>