{% extends "base.html" %}

{% block title %}
Kirinify
{% endblock %}

{% block header %}
Kirinify
{% endblock %}


{% block body %}
<h2>Upload</h2>
<form method="post" enctype=multipart/form-data>
    <label>Audio files</label>
    <input type="file" name="audio" accept="audio/aac, audio/flac, audio/m4a, audio/mp3, audio/ogg, audio/opus, audio/wav"><!--multiple>-->
    <button  type="submit">Submit</button>
</form>


<br><h2>Playing</h2>


<br><h2>File List</h2>
<ul>
{% for file in files %}
    <li>{{file}}</li><br>
{% endfor %}
</ul>


{#
<br><h2>Queue</h2>
<ul>
{% for song in queue %}
    <li>{{song}}</li>
    Add id=song_{id}, remove from queue button, move up/down in queue buttons
    <br>
{% endfor %}
</ul>
#}


{% endblock %}