{% extends "base.html" %}

{% block title %}
Kirinify
{% endblock %}

{% block header %}
Kirinify
{% endblock %}


{% block body %}
<h2>Upload</h2>
<form method="post" enctype=multipart/form-data>
    <label>Audio files</label>
    <input type="file" name="audio" accept="audio/aac, audio/flac, audio/m4a, audio/mp3, audio/ogg, audio/opus, audio/wav"><!--multiple>-->
    <button  type="submit">Submit</button>
</form>


<br><h2>Now Playing</h2>
<div id="now_playing">
    <audio id="current_song" controls autoplay></audio>
</div>
<style>
    #current_song {
        border: solid brown 8px;
        /*padding: 0px;*/
        border-radius: 90px;
    }
</style>

<br><h2>File List</h2>
<ul>
{% for file in files %}
    <li>{{file}}</li><br>
{% endfor %}
</ul>


{#
<br><h2>Queue</h2>
<ul>
{% for song in queue %}
    <li>{{song}}</li>
    Add id=song_{id}, play button, add/remove from queue button, move up/down in queue buttons
    <br>
{% endfor %}
</ul>
#}





<script>
    const current_song = document.getElementById("current_song");
    current_song.src = "./static/{{files[0]}}"; // Set current song to the first file (sorted by ?alphabetical?)
</script>


{% endblock %}