{% extends "base.html" %}

{% block title %}
Kirinify
{% endblock %}

{% block header %}
Kirinify
{% endblock %}


{% block body %}
<h2>Upload</h2>
<form method="post" enctype=multipart/form-data>
    <input hidden name="form" value="new_song">
    <label>Audio files</label>
    <input type="file" name="audio" accept="audio/flac, audio/mp3">
    <button  type="submit">Submit</button>
</form>


<br><h2>Songs</h2>
<ul>
{% for file in files %}
    <li id="li{{ loop.index0 }}" style="display:inline;">{{file}}
    <audio controls src="./static/{{file}}"></audio>
    <form method="post">
        <input hidden name="form" value="add_tag_to_song">
        <input hidden name="file" value="{{file}}">
        <label>Tag name <small>(case-sensitive?)</small></label>
        <input id="tag" type="text" name="tag" required>
        <button type="submit">Add Tag</button>
    </form>
    <form method="post">
        <input hidden name="form" value="delete_song">
        <input hidden name="file" value="{{file}}">
        <button type="submit">Delete Song</button>
    </form>
    </li>
    <br>
{% endfor %}
</ul>


<style>
    body {
        background-image: url(./static/background.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size:contain;
    }
</style>


{% endblock %}